<style>
    .dem-top-ten-header {
    	  display: flex;
        column-gap: 1.5em;
        justify-content: start;
        align-items: flex-start;
        
        background-color: #00aac9;
        padding: clamp(16px, 2em, 40px);
        margin: 1.5rem -40px;
        margin-top: 0;
    }

    .dem-top-ten-header section {
      display: flex;
      flex-direction: column;
    }

    .dem-top-ten-header a {
      text-decoration: none;
      border-bottom: none;
    }

    a.dem-top-ten-bttn {
      min-width: 30%;
      max-width: 75%;
      padding: 0.5em;
      color: white;
      background: #333b4b;
      text-align: center;
      text-decoration: none;
      align-self: flex-end;
      font-style: italic;
    }
    
    .dem-top-ten-header figure img {
        min-width: 125px;
        max-width: 450px;
        width: 200px;
        margin: 0;
    }

    .dem-top-ten-header figure img.large {
      width: 265px;
    }
    
    .dem-top-ten-header p {
        color: white;
    	  font-family: 'Istok Web', serif;
    }
    
    .dem-top-ten-header p.header {
    	font-size: clamp(2em, 4vw, 5em);
    	line-height: 1.2em;
      font-weight: bold;
    }
    
    .dem-top-ten-header p.subheader {
        color: hsl(0deg 100% 15%);;
        /*hsl(214, 40%, 28%);*/
    	  font-size: clamp(1em, 3vw, 3em);
        font-weight: 600;
    	  line-height: 1.2em;
        margin-top: 0;
        
    }
    @media (max-width: 46em) {
      .dem-top-ten-header figure img {
        width: 125px;
      }
    }
</style>

<div class="dem-top-ten-header">
  <figure>
    <img
      alt="Ballot Mark"
      class= "{{#is "home"}}large{{/is}}"
      src="../../assets/img/pillsbury-website-topten-html.gif"
      height="100"
      width="100"
    />
  </figure>
  <section>
    <a href="/democracys-top-ten/">
    <p class="header">Democracy's Top Ten</p>
    <p class="subheader">Principles and Policies for Free and Fair Elections</p>
    </a>
    {{#is "home"}}
    <a class="dem-top-ten-bttn" href="/democracys-top-ten/" title="Democracy's Top Ten Page">Click Here</a>
    {{/is}}
  </section>
</div>