<style>
    .dem-top-ten-list {
        align-items: flex-start;
        color: #414141;
        display: flex;
        flex-flow: row wrap;
        gap: 1em;
        justify-content: center;

    }
    

    .dem-top-ten-list ol {
        margin: 0;
    }
    
    .voting {
        background-color: #bce2fe;
        /* Force the row to wrap under a certain size */
        min-width: 250px;
        width: calc(50% - 1em);
    }

    .elections {
        background-color: #baf1fd;
        /* Force the row to wrap under a certain size */
        min-width: 250px;
        width: 50%;
    }

    /* Header and List Item Background Colors */
    .voting .header {
        background-color: #043b94;
    }
    .elections .header {
        background-color: #00a9cc;
    }

    /* Section Header Typography */
    .voting .header,
    .elections .header {
        color: white;
        font-weight: bold;
        font-size: clamp(2em, 4vw, 4em);
        line-height: 1.2em;
        padding: 0.5em;
        position: relative;
        text-align: center;
    }

    .voting .header span,
    .elections .header span {
        font-weight: 100;
    }

    .header-arrow {
        position: absolute;
        bottom: 0;
        margin-bottom: -29px;
        left: calc(50% - 30px);
    }

    /* List Item Layout */
    .top-ten-list-item {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        margin: clamp(2em, 2vw, 3em);

    }

    /*.top-ten-list-item p {
        width: 100%;
    }*/

    .top-ten-list-item p.header {
        background-color: white;
        color:#414141;
        counter-increment: li;
        font-size: clamp(1.5em, 2vw, 2em);
        font-weight: bold;

        border-bottom: 2px solid gray;
        margin: 1rem 2rem 0;
        padding: .5rem 0 0;
        text-align: left;
    }

    /*
     .top-ten-list-item .header::before {
        content:''; was counter(li)
        font-weight: bold;
        border: 1rem solid #b6242a;
        border-radius: 50%;
        background: #b6242a;
        text-align: center;
        color: white;
        padding: 2px 12px;
        margin-right: 0.75rem;
        font-size: 0px;
        vertical-align: top;
    }
    */

    /*
    needed to target first child when using numbers
    .top-ten-list-item:first-child .header::before {
        padding: 2px 14px; 
        }
    */

    .top-ten-list-item .icon {
        background: #043b94 no-repeat center/100% scroll content-box;
        background-size: contain;
        width: 100%;
        height: 240px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        position: relative;
    }

    .elections .icon {
        background-color: #00a9cc;
    }

    .top-ten-list-item p.go {

        align-items: center;
        background-color: #00a9cc;
        border-radius: 50%;
        color: white;
        display: flex;
        font-size: 36px;
        font-weight: bold;
        font-style: italic;
        height: 70px;
        justify-content: center;
        padding-right: 5px;
        text-shadow: 1px 2px #9b9b9b;
        width: 72px;

        margin-block-end: 30px;
        margin-inline-end: 34px;
    }

    .elections p.go {
        background-color: #043b94;
    }

    .top-ten-list-item p.go::before {
        content: "";
        position: absolute;
        bottom: 0;
        margin-bottom: -1px;
        right: 40px;
    }

    .arrow-down {
        width: 0; 
        height: 0; 
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        
        border-top: 30px solid #043b94;
    }

    .elections .arrow-down {
        border-top: 30px solid #00a9cc;
    }

    .arrow-up,
    .top-ten-list-item p.go::before {
        width: 0; 
        height: 0; 
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        
        border-bottom: 30px solid #fff;
    }

    li.top-ten-list-item p.header::before {
        content: '';
        font-size: 0;
        border: 17px solid transparent;
        border-left-color: #b6242a;
        vertical-align: bottom;
        margin: 0px -10px 1px;
        margin-left: 1px;
    }

    .icon + div {
        background-color: white;
    }

     p.description {
        align-items: flex-start;
        background-color: white;
        display: flex;
        font-size: clamp(0.9em, 2vw, 1.25em);
        font-weight: normal;
        padding: 1rem 2rem 2rem;
    }

    .sdr .icon {
        background-image: url("../assets/img/dem-top-ten/pillsbury-icons-same-day-registration.png");
    }
    .avr .icon {
        background-image: url("../assets/img/dem-top-ten/pillsbury-icons-auto-register.png");
    }
    .mb-evip .icon {
        background-image: url("../assets/img/dem-top-ten/pillsbury-icons-vote-by-mail.png");
    }
    .vrr .icon {
        background-image: url("../assets/img/dem-top-ten/pillsbury-icons-past-convicts.png");
    }
    .npea .icon {
        background-image: url("../assets/img/dem-top-ten/pillsbury-icons-nonpartisan.png");
    }

    .rcv .icon {
        background-image: url("../assets/img/dem-top-ten/pillsbury-icons-ranked-choice.png");
    }
    
    .npr .icon {
        background-image: url("../assets/img/dem-top-ten/pillsbury-icons-redistricting.png");
    }
    
    .opr .icon {
        background-image: url("../assets/img/dem-top-ten/pillsbury-icons-open-primaries.png");
    }
    
    .rmec .icon {
        background-image: url("../assets/img/dem-top-ten/pillsbury-icons-electoral-college.png");
    }
    
    .cfr .icon {
        background-image: url("../assets/img/dem-top-ten/pillsbury-icons-finance-reform.png");
    }

    @media (max-width:904px) {
        .voting, 
        .elections {
            width: 100%;
        }
    }
   
    
</style>

<section class="dem-top-ten-list">
    <div class="voting">
        <div class="header">
            {{!-- <span>1-5</span><br />  --}}
            Access to the Vote
            <span class="arrow-down header-arrow"></span>
        </div>
        <ol class="wrapper">
            <li class="top-ten-list-item sdr one">
                <div class="icon"><p class="go"><a href="/same-day-registration" title="Same Day Registration">GO</a></p></div>
                <div>
                    <p class="header">Same Day Registration</p>
                    <p class="description">Allow voters to register or fix a problem with their registration when they vote.</p>
                </div>
            
            </li>
            <li class="top-ten-list-item avr two">
                <div class="icon"><p class="go"><a href="/automatic-voter-registration" title="">GO</a></p></div><div>
                     <p class="header">Automatic Voter Registration</p>
                <p class="description">Automaticaly register people to vote or update their registration at motor vehicles and other government agencies unless the person opts out.</p>
            </div>
            </li>
            <li class="top-ten-list-item mb-evip three">
                <div class="icon"><p class="go"><a href="" title="">GO</a></p></div><div>
                <p class="header">Mail Ballots and Early Voting in Person</p>
                <p class="description">Make it easy to receive and return a mail ballot and to vote early in person.</p>
            </div>
            </li>
            <li class="top-ten-list-item vrr four">
                <div class="icon"><p class="go"><a href="" title="">GO</a></p></div><div>
                <p class="header">Restore Voting Rights for People with Past Convictions</p>
                <p class="description">Restore the vote for all persons released from prison, including those out on probation or parole.</p>
            </div>
            </li>
            <li class="top-ten-list-item npea five">
                <div class="icon"><p class="go"><a href="" title="">GO</a></p></div><div>
                    <p class="header">Nonpartisan Election Administration</p>
                    <p class="description">Ensure a nonpartisan and impartial process to run elections and count the votes</p>
                </div>
            </li>
        </ol>
    </div>
    <div class="elections">
        <div class="header">
            {{!-- <span>6-10</span><br /> --}}
            A Vote That Counts
            <span class="arrow-down header-arrow"></span>
        </div>
        <ol class="wrapper">
            <li class="top-ten-list-item rcv six">
                <div class="icon"><p class="go"><a href="" title="">GO</a></p></div><div>
                <p class="header">Ranked Choice Voting</p>
                <p class="description">Ensure election winners have majority support. Give voters more choice. Allow more than two candidates to run without fear of splitting the vote.</p>
            </div></li>
            <li class="top-ten-list-item npr seven">
                <div class="icon"><p class="go"><a href="" title="">GO</a></p></div><div>
                <p class="header">Nonpartisan Redistricting</p>
                <p class="description">Create nonpartisan, independent redistricting commissions, or other methods with fair redistricting criteria and that prevent partisan or racial gerrymandering</p>
            </div></li>
            <li class="top-ten-list-item opr eight">
                <div class="icon"><p class="go"><a href="" title="">GO</a></p></div><div>
                <p class="header">Open Primaries and Reform</p>
                <p class="description">Allow all voters to vote in the primary that determines who is on the ballot for the general election. In an open or nonpartisan primary</p>
            </div></li>
            <li class="top-ten-list-item rmec nine">
                <div class="icon"><p class="go"><a href="" title="">GO</a></p></div><div>
                <p class="header">Replace or Modify the Electoral College</p>
                <p class="description">Move to a national popular vote or consider dividing each state’s electors on a proportional basis
</p>
            </div></li>
            <li class="top-ten-list-item cfr ten">
                <div class="icon"><p class="go"><a href="" title="">GO</a></p></div><div>
                <p class="header">Campaign Finance Reform</p>
                <p class="description">Adopt small donor-driven, public funding of elections. Require full disclosure of all donations and outside expenditures not currently disclosed.</p>
            </div></li>
        </ol>
    </div>
</section>
