<style>

    .tag-hash-dempolicy .sidebar .o-grid {
        padding-left: 24px;
    }
    .tag-hash-dempolicy .o-grid,
    .tag-hash-dempolicy .o-grid__col {
        margin: 0;
        padding: 0;
    }
    .tag-hash-dempolicy .dem-top-ten-header {
        margin: 0;
    }
    .tag-hash-dempolicy header.c-header {
        padding: 20px 0px;
    }
    .tag-hash-dempolicy figure.c-post-media {
        margin-top: 0;
    }
    .tag-hash-dempolicy div.c-header__inner {
        margin: 0 2em;
    }

    /* State list area */
    div.state-list ul {
        margin-bottom: 1em;
    }
    div.state-list ul li {
        display: inline;
        font-family: Baskerville, Garamond, Georgia, serif;
        list-style: none;
    }
    div.state-list ul li:not(:first-child)::before {
        content: " \2666 ";
        color: #951d25;
        padding: 0px 5px 0px 3px;
    }

    .tag-hash-dempolicy .c-content p {
        margin-bottom: 1em;
    }
    .tag-hash-dempolicy section.c-content.flex {
        background-color: #e6f5ff;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        width: 100%;
        margin-top: 0;
    }
    .tag-hash-dempolicy section.c-content.flex div.demten-icon {
        max-width: 15%;
        min-width: 10%;
        width: 15%;
        height: 300px;
        background-position: center 2em;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .tag-hash-dempolicy section.c-content.flex div.demten-content {
        columns: 2vw 2;
        max-width: 90%;
        min-width: 85%;
        padding: 1em;
        width: 85%;
    }
  
    .sdr {
        background-image: url("../assets/img/dem-top-ten/pillsbury-icons-same-day-registration.png");
    }
    .avr {
        background-image: url("../assets/img/dem-top-ten/pillsbury-icons-auto-register.png");
    }
    .mbev {
        background-image: url("../assets/img/dem-top-ten/pillsbury-icons-vote-by-mail.png");
    }
    .vrr {
        background-image: url("../assets/img/dem-top-ten/pillsbury-icons-past-convicts.png");
    }
    .npea {
        background-image: url("../assets/img/dem-top-ten/pillsbury-icons-nonpartisan.png");
    }
    .rcv {
        background-image: url("../assets/img/dem-top-ten/pillsbury-icons-ranked-choice.png");
    }
    .npr {
        background-image: url("../assets/img/dem-top-ten/pillsbury-icons-redistricting.png");
    }
    .opr {
        background-image: url("../assets/img/dem-top-ten/pillsbury-icons-open-primaries.png");
    }
    .rmec {
        background-image: url("../assets/img/dem-top-ten/pillsbury-icons-electoral-college.png");
    }
    .cfr {
        background-image: url("../assets/img/dem-top-ten/pillsbury-icons-finance-reform.png");
    }

    article.tag-hash-dempolicy figcaption::before {
        content: "\25A0";
        background-color: #043b94;
        color: #043b94;
        margin-right: 10px;
    }

    @media (max-width: 46em) {
        .tag-hash-dempolicy main.o-wrapper {
            margin: 0;
            padding: 0;
        }
    }

    @media (max-width: 1440px) {
        .tag-hash-dempolicy section.c-content.flex div.demten-content {
            columns: 1;
            margin-left: 1rem;
        }
        section.c-content.flex div.demten-icon {
            display: none;
            /*background: none;
            min-width: 1em;
            width: 1em;*/
        }
    }

</style>

<section class="c-content flex">
  <div class="demten-icon">

  </div>
  <div class="demten-content">
    {{content}}
  </div>
</section>

<script>
  const demtenPageClasses = ['sdr','avr','mbev', 'vrr', 'npea', 'rcv', 'npr', 'opr', 'rmec', 'cfr']; 
  const storedPageNames = [ 
    'Same Day Registration',
    'Automatic Voter Registration', 
    'Mail Ballot and Early Voting In-Person',
    'Restoring Voting Rights', 
    'Non-Partisan Election Administration', 
    'Ranked Choice Voting', 
    'Non-Partisan Redistricting', 
    'Open Primaries and Reform',
    'Replace or Modify the Electoral College', 
    'Campaign Finance Reform' 
    ];
  (function(){ 
      let pageTitle = document.querySelector(".c-post-header__title").textContent; 
      let demTenIcon = document.querySelector(".demten-icon"); 
      demtenPageClasses.forEach((pageClass, index) => { 
        pageTitle === storedPageNames[index] ?
        demTenIcon.classList.add(pageClass) : 
        null; 
        }); 
        console.log(pageTitle,demTenIcon) 
    })()
</script>