<div class="meet-family">
    <figure>
        <img 
            alt="George Pillsbury"
            src="../../assets/img/homepage/gp.webp"
            height="544"
            width="544"
        />
    </figure>
    <section>
        <p class="quote">A career inspired by my parents, family history, and growing up in Minnesota.</p>
        <p class="citation"><span>George Pillsbury<span></p>
        <a class="meet-family" href="https://www.georgepillsbury.com/meet-my-family/" title="Meet My Family">Meet My Family</a>
    </section>
</div>