{{#unless @member}}
  <div class='sidebar-module-wrapper is-membership'>
      <section>
        <img
          src="../assets/img/homepage/pillsbury-website-best.jpg"
          width="236"
          height="228"
          alt="Pillsbury's Best Logo"
        >
        <div class='heading-wrap'>
          <h2 class='c-subscribe__heading u-type-500 u-mb-8'>Newsletter</h2>
          <p class='u-mb-16'>{{t 'Subscribe to our newsletter.' }}</p>
          {{> subscribe-form inputLabel='subscribe-box'}}
        </div>
      </section>
  </div>
{{/unless}}