<div id="voting-tools" class='sidebar-module-wrapper'>
    <section class="voting-tools">
        <img 
            src="../assets/img/homepage/pillsbury-website-tools.webp"
            width="235"
            height="241"
            alt="voting tools logo"
        />
        <div class="heading-wrap">
            <h2 class="c-subscribe__heading u-type-500 u-mb-8">Voting Tools</h2>
            <p class='u-mb-16'>{{t 'Resources on voting and elections.' }}</p>
            <a href="/voting-tools" class="learn-button c-btn c-form-group__btn">Find Resources</a>
        </div>
    </section>
</div>