<div class="welcome-module">
    <p class="header">Welcome to my personal account of a career in civic engagement and voting.</p>
    <figure>
        <img
            alt="handshake graphic" 
            src="../../assets/img/homepage/pillsbury-website-intro-html.webp"
            height=""
            width=""
        />
    </figure>
    <p class="subheader">Highlighting the organizations I helped found and my ongoing work on voting rights and democracy.</p>
</div>