{{!-- Use the default template for header and footer  --}}
{{!< default}}

{{#contentFor 'title'}}{{ meta_title }}{{/contentFor}}

{{#page}}

<div class='o-grid'>
  <div class='o-grid__col o-grid__col--9-10-m o-grid__col--2-3-l'>
    <article class='c-{{ post_class }}'>
      {{!> post-header }}
      
      {{> dem-top-ten-header-short }}

      {{!-- <div class='c-table-of-contents u-hidden'>
        <h2 class='c-table-of-contents__heading'>
          {{t 'Table of Contents' }}
        </h2>
        <div class='c-table-of-contents__content'>
        </div>
      </div> --}}

        {{> demten-item }}

      <hr>
    </article>
  </div>
</div>

{{!-- In the sidebar, the "dem-top-ten-menu" block appears at the top of the page.
This page provides the content for that block. This is a confusing thing about the API.
You wouldn't expect the content here to appear in the sidebar partial. The whole
reason this was necessary was because I couldn't get '#has tag' to work in the 
sidebar. --}}
{{#has tag="#dempolicy"}}
    {{#contentFor "dem-top-ten-menu"}}{{> dem-top-ten-menu}}{{/contentFor}}
{{/has}}

{{/page}}