{{!-- Use the default template for header and footer  --}}
{{!< default}}

{{#contentFor 'title'}}{{ meta_title }}{{/contentFor}}

{{#page}}

<div class='o-grid'>
  <div class='o-grid__col o-grid__col--center o-grid__col--9-10-m o-grid__col--2-3-l'>
    <article class='c-{{ post_class }}'>
      {{!> post-header }}
      {{> dem-top-ten-header }}

      {{!-- <div class='c-table-of-contents u-hidden'>
        <h2 class='c-table-of-contents__heading'>
          {{t 'Table of Contents' }}
        </h2>
        <div class='c-table-of-contents__content'>
        </div>
      </div> --}}

      <style>
        ul.dem-top-ten li {
          display: flex;
          font-family: Garamond, Georgia, serif;
          font-size: 115%;
          align-items: center;
          justify-content: flex-start;
        }
        ul.dem-top-ten li::before {
          content: url("/assets/img/red-star.webp");
          height: 70px;
          width: 70px;
          padding: 10px;
        }
      </style>
      <section class='c-content'>
        {{ content }}
      </section>

      {{> dem-top-ten-list}}
      <hr>
    </article>
  </div>
</div>

{{/page}}