{{!-- Use the default template for header and footer  --}}
{{!< default}}

{{#contentFor 'title'}}{{ meta_title }}{{/contentFor}}

{{#page}}

<div class='o-grid'>
  <div class='o-grid__col o-grid__col--center o-grid__col--9-10-m o-grid__col--2-3-l'>
    <article class='c-{{ post_class }}'>
      {{!> post-header }}
      {{> dem-top-ten-header }}

      {{!-- <div class='c-table-of-contents u-hidden'>
        <h2 class='c-table-of-contents__heading'>
          {{t 'Table of Contents' }}
        </h2>
        <div class='c-table-of-contents__content'>
        </div>
      </div> --}}

      <style>
        ul.dem-top-ten li {
          display: flex;
          font-family: Garamond, Georgia, serif;
          font-size: 115%;
          align-items: flex-start;
          justify-content: flex-start;
        }
        ul.dem-top-ten li::before {
          content: "";
          background: url(/assets/img/red-star.svg);
          background-size: 35px 35px;
          background-position: left center;
          background-repeat: no-repeat;
          height: 40px;
          margin-right: 0.5em;
          padding: 10px;
          width: 40px;
          min-width: 40px;
          
        }
      </style>

      <section class="c-content">
        <div class="intro">
          <p><strong>
            To be a democracy assumes having a set of principles and policies that guide how we hold elections and vote.</strong> Ideally these should be shared as a nation, not varying from state to state.
          </p>
          <p>
            This website features ten time-tested election policies already in use in many states that should be standard for every state.
          </p>

          <ul>
            <li>
              <strong>Five policies that promote full access to the vote.</strong> Policies that make it easier, not harder, to register and vote.
            </li>
            <li>
              <strong>Five policies that contribute to an equal and meaningful vote.</strong> Voting methods that also help reduce political polarization and build the trust in government and elections necessary to make democracy work.
            </li>
          </ul>
          <p>
              <small>
                <em>
                  Scroll down for more information about the principles underlying these policies and the criteria for including  them in this top ten.
                </em>
              </small>
          </p>
        </div>
      </section>

      {{> dem-top-ten-list}}
      
      <section class='c-content'>
        {{ content }}
      </section>

      <hr>
    </article>
  </div>
</div>

{{/page}}