{{!-- Use the default template for header and footer  --}}
{{!< default}}

{{#contentFor 'title'}}{{ meta_title }}{{/contentFor}}

{{#page}}

<div class='o-grid'>
  <div class='o-grid__col o-grid__col--center o-grid__col--9-10-m o-grid__col--2-3-l'>
    <article class='c-{{ post_class }}'>
      {{!> post-header }}
      {{> dem-top-ten-header }}

      {{!-- <div class='c-table-of-contents u-hidden'>
        <h2 class='c-table-of-contents__heading'>
          {{t 'Table of Contents' }}
        </h2>
        <div class='c-table-of-contents__content'>
        </div>
      </div> --}}

      <style>
        ul.dem-top-ten li {
          display: flex;
          font-family: Garamond, Georgia, serif;
          font-size: 115%;
          align-items: flex-start;
          justify-content: flex-start;
        }
        ul.dem-top-ten li::before {
          content: "";
          background: url(/assets/img/red-star.svg);
          background-size: 35px 35px;
          background-position: left center;
          background-repeat: no-repeat;
          height: 40px;
          margin-right: 0.5em;
          padding: 10px;
          width: 40px;
          min-width: 40px;
          
        }
      </style>

      <section class="c-content">
        <div class="intro">
          <p>
          This website features ten time-tested policies that should be standard for every state. The list is divided into two categories: <strong>Five policies that support full access to the vote</strong> unimpeded by unnecessary restrictions. Policies that make it easier, not harder, to register and vote. And <strong>five voting methods to ensure an equal and meaningful vote</strong>. These methods have the potential to reduce political polarization and build the trust in government and elections necessary to make democracy work. (Scroll to the bottom of the page for more information about the principles underlying these policies and the criteria for choosing them.)
        </div>
      </section>

      {{> dem-top-ten-list}}
      
      <section class='c-content'>
        {{ content }}
      </section>

      <hr>
    </article>
  </div>
</div>

{{/page}}