/*------------------------------------*\
  Components > Header
\*------------------------------------*/

.c-header {
  padding: $space-24 0;

  @include mq($from: desktop) {
    padding: $space-40 0;
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}