{{#if next}}
  <div class='o-grid__col o-grid__col--center o-grid__col--2-4-m o-grid__col--1-3-l'>
    <div class='c-pagination'>
      {{!-- JJ removed c-btn--full on 1-11-22 --}}
      <button class='c-btn c-btn--outline js-load-posts'>{{t 'More Posts ↓' }}</button>
    </div>
  </div>
{{/if}}