/*------------------------------------*\
  Trumbs > Hide
\*------------------------------------*/

.u-hidden {
  display: none;
}

.u-block {
  display: block;
}

.u-hidden-visually {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}